{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bingo : {{ game_code }}</title>
  <style>
    @font-face {
        font-family: minecraftFont;
        src: url({% static 'bingo/Minecraftia.ttf' %});
    }
  </style>
  <link rel="stylesheet" href="{% static 'bingo/board.css' %}"></head>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  {{ game_code|json_script:'game_code' }}
  {{ num_mark_colors|json_script:'num_mark_colors' }}
  {{ player_id|json_script:'player_id' }}
  {{ player_name|json_script:'player_name' }}
<body>
  <div class="board-primary{% if player_name %} active{% endif %}{% if obscured %} obscured{% endif %}">
    <h1 class="room-name">{{ game_code }}</h1>
    <table class="bingo-table board-player-{{ player_id }}">
      {% for board_row in board %}
      <tr>
        {% for square in board_row %}
        <td>
          <div class="bingo-square square-{{ square.position }}">
            {% if square.tooltip %}
            <div class="bingo-tooltip" data-tooltip="{{ square.tooltip }}">?</div>
            {% endif %}
            <div class="bingo-text{% if square.text|length > 40 %} small{% endif %}">
              {{ square.text }}
            </div>
          </div>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% if player_name %}
    <h1 class="player-name">{{ player_name }}</h1>
    {% else %}
    <input id="player-name-input" type="text" placeholder="Enter your name to join..."><br>
    {% endif %}
  </div>
  <div class="boards-secondary"></div>
  <template id="board-secondary-template">
    <div class="board-secondary">
      <table class="bingo-table">
        {% for board_row in board %}
        <tr>
          {% for square in board_row %}
          <td>
            <div class="bingo-square square-{{ square.position }} bingo-tooltip"
                 data-tooltip="{{ square.text }}">
            </div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <h2 class="player-name"></h2>
    </div>
  </template>
  <div class="connecting-popup">
    Connecting...
  </div>
  {% if obscured %}
  <div class="reveal-controls">
    Reveal Board
  </div>
  {% endif %}
  <script src="{% static 'bingo/board.js' %}"></script>
</body>
</html>
