body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-family: sans-serif;
}

.logo {
  max-width: 400px;
}

div.player-name, div.room-name {
  margin: 5px;
  width: 50%;
}

.player-name input, .room-name input {
  min-width: 100%;
  max-width: 100%;
  font-size: large;
}

#room-name-submit {
  font-size: large;
  margin-top: 10px;
}
