$hex-clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0, 0 25%);

.bingo-board {
  display: grid;
  margin: 0;
  padding: 2px;
  grid-gap: 2px;
}

.board-container.primary .bingo-board {
  width: 70vw;

  &.hexagon {
      max-width: 88vh;
  }

  &.square {
      max-width: 75vh;
  }
}

.board-container.secondary .bingo-board {
  width: 10vw;
  min-width: 250px;

  .primary-only * {
    /* Elements tagged with primary-only are hidden if
       in a Secondary board */
    display: none;
  }
}

.bingo-space {
  position: relative;

  .square & {
    height: 0;
    padding-bottom: 100%;
    border: 1px solid black;
  }

  .hexagon & {
    clip-path: $hex-clip-path;
    background: black;
    box-sizing: border-box;
    height: 0;
    padding-bottom: 110%;
  }
}

.hexagon .bingo-space-content {
  position: absolute;
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  clip-path: $hex-clip-path;
}

.square .bingo-space-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bingo-space-content {
  /* internal rules only */
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: min(1vw, 1.5vh);
}

.bingo-text.small {
  font-size: min(0.8vw, 1.25vh);
}

.bingo-text {
  margin: 25% 10px;
}

.square .bingo-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.square .bingo-auto-tip {
  position: absolute;
  bottom: 0;
  left: 4px;
  padding: 5px;
  font-size: x-small;
}

.hexagon .bingo-tooltip {
  width: 100%;
  position: absolute;
  top: 8px;
}

.hexagon .bingo-auto-tip {
  width: 100%;
  position: absolute;
  bottom: 5px;
  font-size: x-small;
}
