/* CSS rules that define the looks of the page, i.e. colors and fonts */
@font-face {
    font-family: minecraftFont;
    src: url('./Minecraftia.ttf');
}

body {
  font-family: minecraftFont, sans-serif;
  background-image: url('./bg.jpg');
  background-repeat: repeat;
  background-size: 100px;
}

.primary .player-name {
  font-size: 32px;
}

.revealed .bingo-space.editable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.obscured .bingo-space .bingo-space-content > * {
  filter: blur(8px);
}

@keyframes shine {
  @import 'colors';
  0%, 100% {
    background-color: #ffc858;
  }
  50% {
    background-color: #ffa200;
  }
}

.revealed .bingo-space {
  @import 'colors';
  @each $i, $name in $markings {
    &.mark-#{$i}:not(.winning) .bingo-space-content {
      background: $name;
    }
  }

  &.winning .bingo-space-content {
    animation: shine 1.5s infinite;
  }
}

.bingo-space.covert-marked {
  .square & {
    border: 1px solid crimson;
    .bingo-space-content {
      outline: 3px solid crimson;
    }
  }

  .hexagon & {
    background: crimson;
    .bingo-space-content {
      outline: 2px solid crimson;
      left: 3px;
      top: 3px;
      height: calc(100% - 6px);
      width: calc(100% - 6px);
    }
  }
}

.bingo-auto-tip {
  color: gray;
}

/* Loading spinner */
.loading-spinner {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid black;
  padding: 10px;
  animation: rotation 4s linear infinite;
}

/* Reveal Button */
div.reveal-button {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  border: black 1px solid;
  margin: 5px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
