/* CSS rules that define the looks of the page, i.e. colors and fonts */
@font-face {
    font-family: minecraftFont;
    src: url('./Minecraftia.ttf');
}

body {
  font-family: minecraftFont, sans-serif;
}

.primary .player-name {
  font-size: 32px;
}

.revealed .primary .bingo-space {
  cursor: pointer;
}

.obscured .bingo-space .bingo-space-content > * {
  filter: blur(8px);
}

.revealed .bingo-space {
  &.mark-0 .bingo-space-content{
    background: white;
  }

  &.mark-1 .bingo-space-content {
    /* Complete */
    background: greenyellow;
  }

  &.mark-2 .bingo-space-content {
    /* Reverted */
    background: lightskyblue;
  }

  &.mark-3 .bingo-space-content {
    /* Invalidated */
    background: palevioletred;
  }

  &.mark-4 .bingo-space-content {
    /* Not Invalidated */
    background: #dbffb3;
  }
}

.bingo-auto-tip {
  color: gray;
}

/* Loading spinner */
.loading-spinner {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid black;
  padding: 10px;
  animation: rotation 4s linear infinite;
}

/* Reveal Button */
div.reveal-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  border: black 1px solid;
  margin: 5px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
