/* CSS rules that define the looks of the page, i.e. colors and fonts */
@font-face {
    font-family: minecraftFont;
    src: url('./Minecraftia.ttf');
}

.primary .player-name {
  font-size: 32px;
}

.revealed .primary .bingo-square {
  cursor: pointer;
}

.obscured .bingo-square {
  filter: blur(8px);
}

.revealed .bingo-square.mark-1 {
  /* Complete */
  background: greenyellow;
}

.revealed .bingo-square.mark-2 {
  /* Reverted */
  background: lightskyblue;
}

.revealed .bingo-square.mark-3 {
  /* Invalidated */
  background: palevioletred;
}

.revealed .bingo-square.mark-4 {
  /* Not Invalidated */
  background: #dbffb3;
}

/* Loading spinner */
.loading-spinner {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid black;
  padding: 10px;
  animation: rotation 4s linear infinite;
}

/* Reveal Button */
div.reveal-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  border: black 1px solid;
  margin: 5px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
