/* CSS rules that define the structure of the page, i.e. display and flex rules */
.bingo-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bingo-app .room-name {
  width: 100%;
  text-align: center;
}

/* Generic board rules */
div.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  padding: 1px;
}

div.bingo-board:after {
  padding-bottom: 100%;
}

div.bingo-space {
  margin: 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

div.bingo-text {
  padding: 10px;
}

div.bingo-text.small {
  font-size: small;
}

table.bingo-table tr {
  height: 20%;
}

table.bingo-table td {
  width: 20%;
}


/* Primary board */
.board-container.primary {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .bingo-board {
    width: 80vh;
    height: 80vh;
    max-width: 100%;
  }

  .bingo-tooltip {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  .bingo-auto-tooltip {
    position: absolute;
    bottom: 0;
    left: 4px;
    padding: 5px;
    font-size: x-small;
  }

  .bingo-space {
    position: relative;
  }
}


/* Secondary boards */
.board-container.secondary {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .bingo-board {
    width: 10vw;
    height: 10vw;
    min-width: 250px;
    min-height: 250px;
    max-width: 30vw;
    max-height: 30vw;
  }

  .primary-only {
    /* Elements tagged with primary-only are hidden if in a Secondary board */
    display: none;
  }
}

div.boards-secondary-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* Player name input */
.player-name-input {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: minecraftFont, sans-serif;
  width: 100%;
  text-align: center;
}
