/* CSS rules that define the structure of the page, i.e. display and flex rules */
.bingo-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bingo-app .room-name {
  width: 100%;
  text-align: center;
}

/* Primary board */
.board-container.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

/* Secondary boards */
div.boards-secondary-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.board-container.secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

/* Player name input */
.player-name-input {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: minecraftFont, sans-serif;
  width: 100%;
  text-align: center;
}
