.header {
  margin-top: 30px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tooltipText {
  margin-bottom: 1em;
}

.autoText {
  font-style: italic;
  margin-bottom: 1em;
}

.colorPickerModal {
  display: flex;
  flex-direction: row;
  padding: 5px;
  div {
    width: 48px;
    height: 45px;
  }
}
