body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* Generic board rules */
table.bingo-table, table.bingo-table th, table.bingo-table td {
  border: 1px solid black;
}

div.bingo-square {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table.bingo-table tr {
  height: 20%;
}

table.bingo-table td {
  width: 20%;
}

.bingo-square.mark-1 {
  background: greenyellow;
}

.bingo-square.mark-2 {
  background: lightskyblue;
}

.bingo-square.mark-3 {
  background: palevioletred;
}

/* Primary board */
div.board-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.board-primary table {
  width: 80vh;
  height: 80vh;
  max-width: 100%;
}

.board-primary td.square-tooltip {
  border-style: dashed;
}

.board-primary .bingo-square {
  cursor: pointer;
}

/* Secondary boards */
.board-secondary table {
  width: 10vw;
  height: 10vw;
  min-width: 250px;
  min-height: 250px;
  max-width: 30vw;
  max-height: 30vw;
}

.board-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

div.boards-secondary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.board-secondary.disconnected .player-name {
  color: gray;
}

/* Player name input */
div.player-name {
  margin: 5px;
  width: 50%;
}

.player-name input {
  min-width: 100%;
  max-width: 100%;
  font-size: large;
}

/* Connecting spinner */
.connecting-popup {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid black;
  padding: 10px;
  animation: rotation 4s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
